<div ng-class="shouldHide(field.type)? '':'input-group'">
    <input type="hidden" ng-model="entity[field.type.refName][field.type.refId]"/>
    <input ng-if="field.type.editable"
           type="text" class="form-control input-sm"
           ng-model="input.val"
           placeholder="{{field.type.placeholder}}"
           ng-change="queryForInput();"/>
    <span ng-if="field.type.editable && input.val !== ''"
          style="background-color: transparent;width:20px;padding:0px"
          class="input-group-addon no-border-left">
        <a class="no-margin"><i class="fa" ng-class="queryClass"></i></a>
    </span>
    <input ng-if="!field.type.editable"
           type="text" class="form-control input-sm"
           style="cursor: pointer;"
           readonly
           ng-model="input.val"
           placeholder="{{field.type.placeholder}}"
           ng-click="showReference(field.type, domain.domainName)"/>
    <span style="cursor: pointer; background-color: transparent" class="input-group-addon no-border-left action-buttons"
          ng-hide="shouldHide(field.type)"
          ng-click="showReference(field.type, domain.domainName)">
        <a class="no-margin"><i class="fa fa-list"></i></a>
    </span>
    <span style="cursor: pointer; padding:6px; background-color: transparent"
          class="input-group-addon no-border-left action-buttons"
          ng-hide="shouldHide(field.type)"
          ng-click="clear(field.type)">
        <a class="no-margin"><i class="fa fa-trash-o pink2"></i></a>
    </span>

    <div class="col-xs-12" id="ref-{{field.name.split('.').join('_')}}_{{id}}" style="height:0px; display: none">
        <div class="page-header" style="padding-bottom: 10px;">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-xs"
                        ng-click="queryPage();queryAreaToggle.isShown=false;applyToggle();">
                    <i class="fa fa-search bigger-110"></i>&nbsp;&nbsp;查询
                </button>
            </div>
            <div class="btn-group">
                <button type="button" id="queryToggle" class="btn btn-info btn-xs"
                        ng-click="toggle();">
                    <i ng-class="queryAreaToggle.isShown ? 'fa fa-chevron-up bigger-110':'fa fa-chevron-down bigger-110'"></i>
                    &nbsp;&nbsp;{{queryAreaToggle.isShown ?
                    queryAreaToggle.showButtonName:queryAreaToggle.hideButtonName}}
                </button>
            </div>
        </div>

        <!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- QUERY CONTENT BEGINS -->
                <div id="query_area" ng-style="queryAreaToggle.style">
                    <div class="row">
                        <div dynamic-search entity="query" domain="refDomain"></div>
                    </div>
                </div>
                <!-- QUERY CONTENT ENDS -->
                <!-- TABLE CONTENT BEGINS -->
                <div class="row"
                     style="padding-left:12px"
                     ng-jq-grid
                     name="{{field.name.split('.').join('_')}}_{{field.type.refDomainName}}_ref_{{id}}"
                     config="gridConfig">
                </div>
                <!-- TABLE CONTENT ENDS -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- /.page-content-area -->

    </div>

</div>

