<div class="page-header">
    <div class="btn-group">
        <button type="button" class="btn btn-primary btn-xs"
                onClick="javascript:history.back(-1);">
            <i class="fa fa-reply bigger-110"></i>&nbsp;&nbsp;返回
        </button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary btn-xs"
                ng-click="save()">
            <i class="fa fa-save bigger-110"></i>&nbsp;&nbsp;保存
        </button>
    </div>
</div>

<div dynamic-form entity="entity" domain="domain"></div>